body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: auto;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input-group input[type="text"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #1a1a1a;
    color: #fff;
}

.input-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    border: 1px solid #2196F3;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.input-group button:hover {
    background-color: #008fbf;
}

.result {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: #fff;
}

.result.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    margin-top: 50px;
    color: #666;
}
